@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
$green:green;
$celeste: #00B7FF;
$blue:lighten(#0020FF,10);
$gris: #828282;
$bg-color: #171717;
*{
  box-sizing: border-box;
}
html{
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: $bg-color;
  color: white;
}
input,textarea{
  border: 0;
  outline: 0;
  font-size: 1rem;
  background: transparent;
  color: white;
  position: relative;
  font-family: 'Raleway', sans-serif;
}
textarea{
  resize: none;
}
.content{
  max-width: 900px;
  margin: 0 auto;
  padding-top: 2em;

  .title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
  }
}
.form{
  max-width: 600px;
  margin: 0 auto;
  background: rgba(darken($bg-color, 5),.5);
  border-radius: 2px;

  &-container{
    display: flex;
    flex-wrap: wrap;
  }
  &-item{
    position: relative;
    width: 100%;
    padding: 1em;
    @media only screen and (min-width: 600px){
      &.col-5{
        width: 50%;
      }
    }
    //tutorial
    .textarea{
      height: 10em;
    }
    .input,.textarea{
      display: block;
      padding: 1em;
      width: 100%;
      transition: all .3s;

      border-bottom: 2px solid $celeste;
      &:focus{
        border-bottom: 2px solid $gris;
      }
      &:valid + .label, &:focus + .label{
        top: 1em;
        left: 1em;
        font-size: .9em;
      }
      &:valid{
        border-bottom: 2px solid $blue;
      }
    }
    .label{
      position: absolute;
      top: 2em;
      left: 2em;
      text-transform: capitalize;
      transition: all .3s;
    }
    .btn-enviar{
      display: block;
      width: 100%;
      padding: 1em 0;
      box-shadow: 0 0 0 2px $celeste;
      color: $celeste;
      cursor: pointer;
      transition: all .3s;
      &:hover{
        background: $blue;
        color: white;
        box-shadow: 0 0 0 0 transparent;
      }
      &:active{
        background: darken($blue,7);
        transform: scale(0.97);
      }
    }
  }
}