* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    position: relative;
    margin-right: 20px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-menu li a:hover {
    color: #0056b3;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #007bff;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.nav-menu li:hover .sub-menu {
    display: block;
}

.sub-menu li {
    margin: 0;
    list-style-type: none;
}

.sub-menu li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
}

.sub-menu li a:hover {
    background-color: #0056b3;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #c82333;
}

.container {

        background: white;
        padding: 2em;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        margin: auto; /* Centrar horizontalmente */
        text-align: center; /* Alinear el texto en el centro */
        margin-top: 100px; /* Ajustar margen superior */
    }
    


h2 {
    margin-bottom: 1em;
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5em;
    color: #555;
}

input, select {
    margin-bottom: 1em;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input[type="submit"] {
    background: #007BFF;
    color: white;
    border: none;
    padding: 0.75em;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: #0056b3;
}

/* Estilos adicionales para hacer el formulario responsive */
@media only screen and (max-width: 600px) {
    .container {
        padding: 1em; /* Reducir el padding */
        max-width: 100%; /* Ocupar todo el ancho */
        margin-top: 60px; /* Ajustar margen superior para evitar solapamiento con la barra de menú */
    }
}
